In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
r_path = 'results/'
#import the H1 out-of-sample results

H1_result = pd.read_csv(r_path+'H1_OS_refrigerator_5_results.csv')
H1_result.head()

   Unnamed: 0                 time  y_true    y_pred
0           0  2011-05-11 07:19:47     6.0  3.541998
1           1  2011-05-11 07:20:08     7.0  3.541998
2           2  2011-05-11 07:20:17     7.0  3.541998
3           3  2011-05-11 07:20:20     6.0  3.541998
4           4  2011-05-11 07:20:24     7.0  3.541998

In [18]:
H1_result['datetime'] = pd.to_datetime(H1_result['time'])
H1_result_ = H1_result.set_index('datetime')
H1_result_ = H1_result_.iloc[:,-2:]
H1_result_.head(3)

                     y_true    y_pred
datetime
2011-05-11 07:19:47     6.0  3.541998
2011-05-11 07:20:08     7.0  3.541998
2011-05-11 07:20:17     7.0  3.541998

SyntaxError: invalid syntax (<ipython-input-10-d11e0c98b8a8>, line 5)